.grey-background {
    background-color: lightgrey;
}
.blue-background {
    background-color: lightblue;
}
  
.coral-background {
    background-color: lightcoral;
}

.yellow-background {
    background-color: lightgoldenrodyellow;
}

.salmon-background {
    background-color: lightsalmon;
}




.button--blue {
    background-color: lightblue;
}
  
.button--coral {
    background-color: lightcoral;
}

.button--yellow {
    background-color: lightgoldenrodyellow;
}

.button--salmon {
    background-color: lightsalmon;
}

.menu__buttons li {    
padding-left: 10px; 
padding-top: 10px;   
height: 30px;
}


